@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #d8aa4d;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSUOqCiYXJgTLWB1YiTkelXOQ1jGe-ZvtLjoA&s);
}
